:root {
  --primary-color: rgb(37, 132, 255);
  --secondary-color: rgb(0, 217, 255);
  --accent-color: rgb(255, 52, 0);
  --heading-color: rgb(27, 7, 96);
  --body-color: rgb(145, 140, 164);
}
/* Typography */
html {
  font-size: 100%;
}
body {
  color: var(--body-color);
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
}
h1,
h2,
h3,
h4 {
  color: var(--heading-color);
  margin-bottom: 1rem;
}
h1 {
  font-size: 7rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
p {
  margin-top: 0;
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}
/* Links */
a {
  text-decoration: none;
}
.arrow-link {
  color: var(--accent-color);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2rem;
}
.arrow-link::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.15s;
}
.arrow-link:hover::after {
  margin-left: 10px;
}
@media screen and (min-width: 1024px) {
  .arrow-link {
    font-size: 1.5rem;
  }
}
/* Badges */
.badge {
  border-radius: 20px;
  padding: 0.5rem 2rem;
  font-weight: 600;
  white-space: nowrap;
  font-size: 2rem;
}
.badge--primary {
  background: var(--primary-color);
  color: #fff;
}
.badge--secondary {
  background: var(--secondary-color);
  color: #fff;
}
.badge--small {
  font-size: 1.6rem;
}
@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }
  .badge--small {
    font-size: 1.2rem;
  }
}
