<section class="block block__container">
  <header class="block__header">
    <h1 class="block__heading">heading 1</h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa ipsam fuga
      fugiat modi quod ut, ad tenetur! Minus, voluptatibus sapiente placeat
      facilis, explicabo exercitationem doloremque obcaecati provident totam
      excepturi alias.
    </p>
  </header>
  <div style="width: 30%; padding: 4rem">
    <div class="card card--secondary">
      <header class="card__header">Card Title</header>
      <div class="card__body">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis illum,
        saepe, iure numquam quae quisquam porro minima ipsam ratione cumque
        iusto praesentium, natus soluta magni quam adipisci hic suscipit
        facilis.
      </div>
    </div>
  </div>
</section>
<section class="block block--dark block--skewed-left">
  <header class="block__header">
    <div class="block__container">
      <h1 class="block__heading">heading 1</h1>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa ipsam
        fuga fugiat modi quod ut, ad tenetur! Minus, voluptatibus sapiente
        placeat facilis, explicabo exercitationem doloremque obcaecati provident
        totam excepturi alias.
      </p>
    </div>
  </header>
  <div style="width: 30%; padding: 4rem">
    <div class="card card--secondary">
      <header class="card__header">Card Title</header>
      <div class="card__body">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis illum,
        saepe, iure numquam quae quisquam porro minima ipsam ratione cumque
        iusto praesentium, natus soluta magni quam adipisci hic suscipit
        facilis.
      </div>
    </div>
  </div>
</section>
<section class="block block__container">
  <header class="block__header">
    <h1 class="block__heading">heading 1</h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa ipsam fuga
      fugiat modi quod ut, ad tenetur! Minus, voluptatibus sapiente placeat
      facilis, explicabo exercitationem doloremque obcaecati provident totam
      excepturi alias.
    </p>
  </header>
  <div style="width: 30%; padding: 4rem">
    <div class="card card--secondary">
      <header class="card__header">Card Title</header>
      <div class="card__body">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis illum,
        saepe, iure numquam quae quisquam porro minima ipsam ratione cumque
        iusto praesentium, natus soluta magni quam adipisci hic suscipit
        facilis.
      </div>
    </div>
  </div>
</section>
<section class="block block--dark block--skewed-left">
  <header class="block__header">
    <div class="block__container">
      <h1 class="block__heading">heading 1</h1>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa ipsam
        fuga fugiat modi quod ut, ad tenetur! Minus, voluptatibus sapiente
        placeat facilis, explicabo exercitationem doloremque obcaecati provident
        totam excepturi alias.
      </p>
    </div>
  </header>
  <div style="width: 30%; padding: 4rem">
    <div class="card card--secondary">
      <header class="card__header">Card Title</header>
      <div class="card__body">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis illum,
        saepe, iure numquam quae quisquam porro minima ipsam ratione cumque
        iusto praesentium, natus soluta magni quam adipisci hic suscipit
        facilis.
      </div>
    </div>
  </div>
</section>
