<div class="collapsible">
  <header class="collapsible__header">
    <h2 class="collapsible__title">item 1</h2>
    <img
      class="icon icon--white collapsible__chevron"
      src="/images/chevron.svg"
    />
  </header>
  <div class="collapsible__content">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam quidem
    praesentium illum iure dolorem. Facilis, consectetur aspernatur quibusdam
    sapiente optio possimus ullam commodi aliquid voluptatem aut suscipit.
    Quibusdam, ipsa corporis?
  </div>
</div>
