<div class="icon-container">
  <img class="icon icon--white" src="/images/chevron.svg" />
</div>
<div class="icon-container">
  <svg class="icon icon--primary">
    <use xlink:href="images/sprite.svg#search"></use>
  </svg>
</div>
<div class="icon-container">
  <svg class="icon icon--primary">
    <use xlink:href="images/sprite.svg#line"></use>
  </svg>
</div>
<div class="icon-container">
  <svg class="icon icon--primary">
    <use xlink:href="images/sprite.svg#quotes"></use>
  </svg>
</div>
<div class="icon-container">
  <svg class="icon icon--primary">
    <use xlink:href="images/sprite.svg#computer"></use>
  </svg>
</div>
<div class="icon-container">
  <svg class="icon icon--primary">
    <use xlink:href="images/sprite.svg#clock"></use>
  </svg>
</div>
<div class="icon-container">
  <svg class="icon icon--primary">
    <use xlink:href="images/sprite.svg#settings"></use>
  </svg>
</div>
<div class="icon-container">
  <svg class="icon icon--primary">
    <use xlink:href="images/sprite.svg#easy"></use>
  </svg>
</div>
<div class="icon-container">
  <svg class="icon icon--primary">
    <use xlink:href="images/sprite.svg#menu"></use>
  </svg>
</div>
<div class="icon-container">
  <svg class="icon icon--primary">
    <use xlink:href="images/sprite.svg#tick"></use>
  </svg>
</div>
<div class="icon-container">
  <svg class="icon icon--primary">
    <use xlink:href="images/sprite.svg#growth"></use>
  </svg>
</div>
<div class="icon-container">
  <svg class="icon icon--primary">
    <use xlink:href="images/sprite.svg#wordpress"></use>
  </svg>
</div>
<div class="icon-container">
  <svg class="icon icon--primary">
    <use xlink:href="images/sprite.svg#snap"></use>
  </svg>
</div>
