<blockquote class="quote">
  <p>
    "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid voluptate
    corrupti placeat itaque tempore eveniet ratione iste, dolorem, architecto
    delectus, sint praesentium excepturi nisi! Officiis perferendis nostrum
    voluptates provident doloribus!"
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">Jhon Lumoe</h3>
        <p class="quote__company">Frontenders CEO</p>
      </div>
    </div>
  </footer>
</blockquote>
